/*****WEB1 Main Stylesheet*****/
body {
	background-image: url("../img/bgPattern.png");
	background-repeat: repeat;

}

.container {
	background-color: #fff;
	padding: 0;
}

nav > .container{
	background-color: inherit;
}

.upContainer {
	margin-top: -20px;
	padding-top: 20px;
}

/*****HEADER*****/
.logoImg{
	height: 3em;
	padding-top: 1px;
}

.jumbotron{
	background-color: #2E2D88;
	color: white;
}

/******SLIDER****/
#featuredSlider{
	margin-top: -9px;
	
}