/*****WEB1 Main Stylesheet*****/
body {
	background-image: url("../img/bgPattern.png");
	background-repeat: repeat;

}

.container {
	background-color: rgba(255,255,255,0.7);
	
}

nav > .container{
	background-color: inherit;
}

.upContainer {
	padding: 0;
	margin-top: -20px;
	padding-top: 20px;
}

/*****HEADER*****/
.logoImg{
	height: 3em;
	padding-top: 1px;
}

.jumbotron{
	background-color: rgba(34,34,34,0.7);
	color: white;
}

/******SLIDER****/
#featuredSlider{
	margin-top: -8px;
	
}

.expressBuy {
	color: #fff;
	margin-top: -26px;
	margin-left: -16px;
	margin-bottom: -14px;
	background-color: #A0219C;
	padding: 10px;
}

/*****Well*****/
.pushWellDown {
	margin-top: 14px;
}

/*******FORM A******/
.formA{
	padding: 30px;
}